@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx,html}";

@theme {
  /* Suas fontes personalizadas */

  /* Suas utilidades personalizadas */
  --border-hsla: 1px solid rgb(255 255 255 / 0.2);
}
@font-face {
  font-family: "circular-web";
  src: url("/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/fonts/zentry-regular.woff2") format("woff2");
}

@utility border-hsla {
  border: var(--border-hsla);
}

@utility nav-hover-btn {
  position: relative;
  margin-inline-start: 2.5rem;
  font-family: "general", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(239 246 255);

  &::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: bottom right;
    transform: scaleX(0);
    background-color: rgb(38 38 38);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-duration: 300ms;
  }

  &:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      background-color: rgb(255 255 255);
    }
  }

  cursor: pointer;
}

@utility floating-nav {
  background-color: rgb(0 0 0);
  border-radius: 0.5rem;
  border: 1px solid;
}

@utility absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility special-font-b {
  font-family: "Zentry";
  font-feature-settings: "ss01" on;
}

@utility hero-heading {
  text-transform: uppercase;
  font-family: "zentry", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;

  @media (min-width: 640px) {
    right: 2.5rem;
    font-size: 4.5rem;
  }

  @media (min-width: 768px) {
    font-size: 8rem;
  }

  @media (min-width: 1024px) {
    font-size: 12rem;
  }
}

@utility about-subtext {
  position: absolute;
  bottom: -80dvh;
  left: 50%;
  width: 100%;
  max-width: 24rem;
  transform: translateX(-50%);
  text-align: center;
  font-family: "circular-web", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;

  @media (min-width: 768px) {
    max-width: 36rem;
  }
}

@utility about-image {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 20;
  height: 60vh;
  width: 24rem;
  transform-origin: center;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 1.5rem;

  @media (min-width: 768px) {
    width: 30vw;
  }
}

@utility animated-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  color: rgb(255 255 255);

  @media (min-width: 640px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

@utility animated-word {
  font-family: "zentry", sans-serif;
  font-weight: 900;
  opacity: 0;
  transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px !important;
  will-change: opacity, transform;
}

@utility bento-tilt_1 {
  position: relative;
  border: var(--border-hsla);
  grid-column: span 2 / span 2;
  overflow: hidden;
  border-radius: 0.375rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@utility bento-tilt_2 {
  position: relative;
  grid-column: span 1 / span 1;
  grid-row: span 1 / span 1;
  overflow: hidden;
  border-radius: 0.375rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@utility bento-title {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 3.5rem;
  font-weight: 900;
  font-family: "zentry", sans-serif;

  @media (min-width: 768px) {
    font-size: 3.75rem;
  }
}

@utility story-img-container {
  position: relative;
  height: 90vh;
  width: 100%;
  filter: url("#flt_tag");

  @media (min-width: 768px) {
    height: 100dvh;
  }
}

@utility story-img-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    left: 20%;
    top: -10%;
    height: 80%;
    width: 80%;
  }

  clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

@utility story-img-content {
  position: absolute;
  width: 100%;
  height: 50dvh;
  opacity: 1;
  left: 2.5rem;
  top: 4rem;

  @media (min-width: 768px) {
    height: 100dvh;
    left: 0;
    top: 2.5rem;
  }

  @media (min-width: 1024px) {
    left: -18.75rem;
    top: -6.25rem;
  }

  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}

@utility gallery-img-container {
  height: 16rem;
  width: 16rem;
  overflow: hidden;
  background-color: rgb(216 180 254);
}

@utility gallery-img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

@utility gallery-img-4 {
  border-radius: 0.5rem;

  @media (min-width: 640px) {
    height: 20rem;
    width: 20rem;
  }

  @media (min-width: 768px) {
    height: 24rem;
    width: 25rem;
  }
}

@utility sword-man-clip-path {
  clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

@utility contact-clip-path-1 {
  clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

@utility contact-clip-path-2 {
  clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

@utility indicator-line {
  height: 0.25rem;
  width: 1px;
  border-radius: 9999px;
  background-color: rgb(255 255 255);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@utility indicator-line-active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

/* Estilos base */
@layer base {
  @import url("https://fonts.cdnfonts.com/css/general-sans");

  body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #dfdff0;
    font-family: "General Sans", sans-serif;
  }
}

/* Animações */
@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* From Uiverse.io by G4b413l */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
